*{
    font-family: 'Markazi Text', serif;
    font-size: 21px;
}

body{
    background-color: #f4f4f4 !important;
}

.question-title{
    color: #002d6a !important;
}

.question-title a{
    text-decoration: none;
    color: #002d6a !important;
}

.question-title a:hover{
    text-decoration: none;
    color: #002d6a !important;
}

.question-link{
    text-decoration: none;
    color: #fff !important;
}


.question-link:hover{
    text-decoration: none;
    color: #fff !important;
}
.question-related-title{
    color: #ab1e56;;
}

.question-related-data{
    color: #002d6a !important;
}

.btn-light-blue {
    background-color: #2290ba;
    border-color: #2290ba;
    transition: all 1s ease-out;
}

.btn-light-blue:hover {
    background-color: #55bce3;
    border-color: #55bce3;
}
