*{
    font-family: 'Markazi Text', serif;
    font-size: 21px;
}

.answer , .question{
    line-height: 2 !important;
}

.answer *, .question *{
    font-family: 'Markazi Text', serif !important;
    font-size: 21px !important;
}

body{
    background-color: #f4f4f4 !important;
}

.question-title{
    color: #002d6a !important;
}

.question-title a{
    text-decoration: none;
    color: #002d6a !important;
    transition: all 0.5s ease-out;
}

.question-title a:hover{
    text-decoration: none;
    color: #ab1e56 !important;
}

.question-link{
    text-decoration: none;
    color: #fff !important;
}


.question-link:hover{
    text-decoration: none;
    color: #fff !important;
}
.question-related-title{
    color: #ab1e56;;
}

.question-related-data{
    color: #002d6a !important;
}

.btn-light-blue {
    background-color: #2290ba;
    border-color: #2290ba;
    transition: all 0.5s ease-out;
}

.btn-light-blue:hover {
    background-color: #55bce3;
    border-color: #55bce3;
}

.search-title{
    background-color: #2290ba;
    border-color: #2290ba;
    width: 160px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.views-label{
    background-color: #2290ba;
    border-color: #2290ba;
    text-align: center;
    width: 60px;
}

.views-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-home{
    background-color: #2290ba;
    border-color: #2290ba;
}

.page-item.active .page-link{
    background-color: #2290ba !important;
    border-color: #2290ba !important;
}
.page-link{
    color: #2290ba;
}
